aliyun-python-sdk-core
certifi==2020.6.20
chardet==3.0.4
Django==2.2.0
enum34==1.1.10
idna==2.10
jmespath==0.10.0
numpy==1.16.6
pandas==0.24.2
pbr==4.0.4
pycryptodome==3.9.8
pypinyin==0.39.0
python-dateutil==2.8.1
pytz==2020.1
redis==3.5.3
requests==2.24.0
six==1.11.0
stevedore==1.28.0
typing==3.7.4.3
urllib3==1.25.10
xlrd==1.2.0
psycopg2==2.7.4
uWSGI==2.0.17